*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
Enterprise_mail_system/emails.json filter=lfs diff=lfs merge=lfs -text
Enterprise_mail_system/emails_old.json filter=lfs diff=lfs merge=lfs -text
Inazuma_Overflow/overflow.json filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/invoice_ernsh.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/invoice_quick.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/invoice_savea.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/purchase_order_ernsh.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/purchase_order_quick.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/purchase_order_savea.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/shipping_order_ernsh.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/shipping_order_quick.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Customer_orders/shipping_order_savea.pdf filter=lfs diff=lfs merge=lfs -text
Customer_Relation_Management/Product[[:space:]]Sentiment/product_sentiment.json filter=lfs diff=lfs merge=lfs -text
tasks.json filter=lfs diff=lfs merge=lfs -text
Policy_Documents/IT[[:space:]]Asset[[:space:]]Management[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma[[:space:]]code[[:space:]]of[[:space:]]ethics.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Acceptable[[:space:]]Use[[:space:]]Policy[[:space:]](AUP).pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Companies[[:space:]]Act[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Compliance[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Corporate[[:space:]]Governance[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Data[[:space:]]Breach[[:space:]]Response[[:space:]]and[[:space:]]Notification[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Data[[:space:]]Protection[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Ecological[[:space:]]Sustainability[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Employee[[:space:]]Handbook.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Environmental[[:space:]]Compliance[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Information[[:space:]]Security[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Leave[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Medical[[:space:]]Insurance[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Occupational[[:space:]]Health[[:space:]]and[[:space:]]Safety[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Password[[:space:]]Policy[[:space:]]Document.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Performance[[:space:]]Management[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Policy[[:space:]]on[[:space:]]Prevention[[:space:]]of[[:space:]]Sexual[[:space:]]Harassment[[:space:]](POSH).pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Privacy[[:space:]]Notice[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Risk[[:space:]]Management[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Social[[:space:]]Media[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Software[[:space:]]Development[[:space:]]Lifecycle[[:space:]](SDLC)[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Software[[:space:]]Development[[:space:]]Standards[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
Policy_Documents/Inazuma.co[[:space:]]Travel[[:space:]]and[[:space:]]Business[[:space:]]Expense[[:space:]]Reimbursement[[:space:]]Policy.pdf filter=lfs diff=lfs merge=lfs -text
tasks.jsonl filter=lfs diff=lfs merge=lfs -text
